{% if page.edit_url %}
  <a
    href="{{ page.edit_url }}"
    title="{{ lang.t('edit.link.title') }}"
    class="md-content__button md-icon"
    target="_blank"
  >
    {% include ".icons/material/file-edit-outline.svg" %}
  </a>
  <a
    href="{{ page.edit_url | replace('github.com', 'raw.githubusercontent.com') | replace('/edit', '') }}"
    title="Ver el código fuente de esta página"
    class="md-content__button md-icon"
    target="_blank"
  >
    {% include ".icons/material/file-eye-outline.svg" %}
  </a>
{% endif %}
